/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
  }
  
  code {
    color: #E01A76;
  }
  body{
    background-color: #1318C8;
  }

  .container {
    width:fit-content;
    block-size: fit-content;
    margin-bottom: 12px;
  }
  .diamond {
    clip-path: polygon(31% 0, 100% 0, 100% 48%, 75% 86%, 0 100%, 0 32%);
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:white;
    z-index: -1;
  }
  .bottom-right {
    position: fixed;
    bottom: 8px;
    right: 16px;
    font-weight: bold;
    color: white;
  }

  html * {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #737372;
    text-align: left;
    font-family: 'HelveticaLt';
  }
  
  @font-face {
    font-family: 'HelveticaBd';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaBd'), url(./fonts/HelveticaNeueLTPro-Bd.ttf) format('truetype')
  }
  
  @font-face {
    font-family: 'HelveticaLt';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaLt'), url(./fonts/HelveticaNeueLTPro-Lt.ttf) format('truetype')
  }
  
  @font-face {
    font-family: 'HelveticaRoman';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaRoman'), url(./fonts/HelveticaNeueLTPro-Roman.ttf) format('truetype')
  }
  