.loading-container{ /*old name: tableCont*/
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.loading-spinner-container{ /*old name: tableCont*/
    display: flex;
    justify-content: center;
}

.loading-text-container{ /*old name: tableCont*/
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
