td:hover {
  cursor: pointer;
}
tr:hover {
  background-color: darkgrey;
}

.finalizeBtn {
  color: #737372;
  background-color: white;
}
.finalizeBtn:hover{
  background-color: #0b5ed7
}
.deleteBtn {
  color: #737372;
  background-color: white;
}
.deleteBtn:hover{
  background-color:rgb(219, 83, 83)
}

tr > th {
  font-weight: bold;
}
.confirm-bg {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0.55;
  overflow: hidden; /* disable scrolling*/
  z-index: 2; /* higher than all other items, but lower than 
    the confirm box*/
}


table{
    color: #737372;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 7px 8px 15px 10px rgb(0 0 0 / 50%)
    

}

